.rojo {
    background-image: url('/img/nav.jpg');
}

.texto-negro{
    font-weight: bold;
    color:#000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fondo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nos{
    margin-top: 10%;
    background-color:#500d1f;
    color:rgb(0, 0, 0);
    font-weight: bold;
}